<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Scoped storage used: لا حاجة لأذونات READ/WRITE القديمة أو MANAGE_EXTERNAL_STORAGE -->
    <!-- نكتفي بأذونات وسائط Android 13+ إن احتجنا قراءة مكتبة المستخدم (يمكن إزالة غير المستعمل) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- إذا لم نقرأ ملفات صوت يمكن حذف السطر التالي -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/> -->
    
    <!-- أذونات العمل في الخلفية -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- حصر أنواع الخدمة الأمامية إلى ما نحتاجه فقط (dataSync). نحذف mediaPlayback/specialUse لتقليل الرفض في Android 15 -->
    <!-- يمكن إضافة FOREGROUND_SERVICE_DATA_SYNC فقط. -->
    
    <!-- أذونات الشبكة والإشعارات -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- منع النوم أثناء الرفع -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>






    <application
        android:label="video_cutter_app"
        android:name="${applicationName}"
        android:requestLegacyExternalStorage="true" 
        android:preserveLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <service
            android:name="de.julianassmann.flutter_background.IsolateHolderService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
        <!-- تعيين خدمة Flutter Background Service الرئيسية بأنواع الـ Foreground المطلوبة (Android 14+ / targetSdk 34+) -->
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false"
            tools:replace="android:exported,android:foregroundServiceType" />
        <!-- Foreground service to keep upload alive with custom notification -->
        <service
            android:name=".UploadForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
        <receiver
            android:name=".UploadActionReceiver"
            android:exported="false" />
    
    


    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
